<!-- The signup page for the web application -->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Thoughts Manager - NodeJS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Linking the HTML doc to the Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
	<!-- The body section of the page -->

	<!-- The header -->
	<nav class="navbar navbar-dark bg-dark">
  		<a class="navbar-brand mx-2" href="#">Sign Up - Thoughts Manager (NodeJS)</a>
	</nav>

	<!-- The signup form -->
	<div class="container my-5">
		<form>
			<div class="form-group my-1">
				<label for="username">Username</label>
				<input type="text" class="form-control" name="username">
			</div>
			<div class="form-group my-1">
				<label for="password">Password</label>
				<input type="password" class="form-control" name="password">
				<small class="form-text text-muted">Please choose a strong password for more secure experience.</small>
			</div>
			<div class="form-group my-1">
				<label for="confirm-password">Confirm password</label>
				<input type="password" class="form-control" name="confirm-password">
			</div>
			<button class="btn btn-primary my-2" id="signup-btn">Submit</button>
		</form>
	</div>
</body>

<!-- Linking the HTML doc to the external Boostrap required JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<!-- The custom JS for this page -->
<script type="text/javascript" src="/js/signuppage.js"></script>
</html>